# Node.js
node_modules/
dist/
build/
.env
.env.local
.env.example
*.log

*.yml
!docker-compose.yml
!.github/workflows/*.yml
*.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pem
# Next.js
.next/

# Next.js
client/.next/

# Bỏ qua lock file root (giữ lock file trong microservices/ và client/)
/package-lock.json

# VSCode
.vscode/
*.code-workspace

# OS hệ điều hành
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# TypeScript
*.tsbuildinfo

# Optional - bỏ folder test nếu không dùng:
# test/

# Submodule nếu bạn đã xoá:
.gitmodules


# Ignore specific files
*.ipynb
*.requirements.txt
pc_gvn_categories_complete_final.json
products_progress_229.json
scraper/*.json
